@charset "utf-8";
html,
body {
	height: 100%;
	box-sizing: border-box;
	/*padding: 15px 0;*/
	overflow: auto;
	background: #FFF;
	color: #333333;
	font: 14px/1.5 "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

fieldset,
img {
	border: 0
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
	font-style: normal;
	font-weight: normal
}

ol,
ul {
	list-style: none
}

caption,
th {
	text-align: left
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: normal
}

q:before,
q:after {
	content: '';
}

abbr,
acronym {
	border: 0;
	font-variant: normal;
}

sup {
	vertical-align: text-top;
}

sub {
	vertical-align: text-bottom;
}

input,
textarea,
select {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	*font-size: 100%;
}

legend {
	color: #000;
}

#yui3-css-stamp.cssreset {
	display: none;
}

a {
	text-decoration: none;
	color: #444555;
	font-size: 13px;
}

a:active {
	color: #444555;
}

a:visited {
	color: #444555;
}

li {
	outline: none;
}

.main-part {
	width: 97%;
	min-height: 100%;
	height: auto;
	margin: 0 auto;
	border: 1px solid #fff;
	box-sizing: border-box;
	background: #F9F9F9;
}